@model IEnumerable<MVC.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Usuarios</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Alta Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmacion)
            </th>
            <th>
                Rol
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmacion)
            </td>
            <td>
                @if (item.RolId != null)
                {
                    var tipoRol = item.Roles.FirstOrDefault(p => p.Id == item.RolId);
                    if (tipoRol != null)
                    {
                        @tipoRol.Rol
                    }
                }
            </td>

            <td>
                @if (!string.IsNullOrEmpty(item.LicenciaId)) 
                {
                    @Html.DisplayFor(modelItem => item.LicenciaId)
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.LicenciaId)) 
                {
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                }
            </td>
             <td>
                @if (!string.IsNullOrEmpty(item.LicenciaId)) 
                {
                    @Html.DisplayFor(modelItem => item.Frecuente)
                }
            </td>
             <td>
                @if (!string.IsNullOrEmpty(item.LicenciaId)) 
                {
                    @Html.DisplayFor(modelItem => item.Actividad)
                }
            </td>
             <td>
                @if (!string.IsNullOrEmpty(item.LicenciaId)) 
                {
                    @Html.DisplayFor(modelItem => item.Puntos)
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
