@model IEnumerable<MVC.Models.VehiculoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Alta Vehículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMotor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoVehiculoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AseguradoraId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMotor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @if (item.TipoVehiculoId != null)
                {
                    var tipoVehiculo = item.TipoVehiculos.FirstOrDefault(t => t.Id == item.TipoVehiculoId);
                    if (tipoVehiculo != null)
                    {
                        @tipoVehiculo.Marca
                    }
                }
            </td>
                <td>
                    @if (item.AseguradoraId != null)
                    {
                        var aseguradora = item.Aseguradoras.FirstOrDefault(t => t.Id == item.AseguradoraId);
                        if (aseguradora != null)
                        {
                            @aseguradora.Nombre
                        }
                    }
                </td>
            <td>
                    <img src="~/img/vehiculos/@item.Imagen" alt="Vehiculo Image" class="fixed-size-image" />
            </td>
            <td>
                    @if (item.UsuarioId != null)
                    {
                        var usuario = item.Usuarios.FirstOrDefault(t => t.Id == item.UsuarioId);
                        if (usuario != null)
                        {
                            @usuario.Cedula
                        }
                    }
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .fixed-size-image {
        width: 50px; /* Ancho deseado */
        height: 50px; /* Alto deseado */
        object-fit: cover; /* Para ajustar la imagen dentro del contenedor manteniendo la proporción */
    }
</style>

