@model IEnumerable<MVC.Models.AuditoriaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Auditorías</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEntidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEntidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEntidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEntidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
